@font-face {
  font-family: "iconfont"; /* Project id 5135881 */
  src: url('./iconfont.woff2?t=1773105164645') format('woff2'),
       url('./iconfont.woff?t=1773105164645') format('woff'),
       url('./iconfont.ttf?t=1773105164645') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-word:before {
  content: "\e802";
}

.icon-excel:before {
  content: "\e803";
}

.icon-pdf:before {
  content: "\e804";
}

.icon-ppt:before {
  content: "\e805";
}

.icon-file_markdown:before {
  content: "\e65d";
}

